server:
  forward-headers-strategy: framework
  port: ${PORT:8080}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect


springdoc:
  swagger-ui:
    disable-swagger-default-url: true
  api-docs:
    enabled: true
  default-produces-media-type: application/json

