server:
  port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/flash_feed
    username: postgres
    password: akhil@123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true