server:
  forward-headers-strategy: framework
  port: ${PORT:8080}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


springdoc:
  swagger-ui:
    use-root-path: true

